/* Slideshow container */
.slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    /* margin: 0rem 0em 0em -5em; */
    /* background-color: #7986cb; */
    /* border-radius: 20px; */
}
  
  

  /* Hide the images by default */
  .mySlides {
    display: none;
    padding-left:1em;
    padding-top: 0.5em;
    padding-bottom :0 !important;
    padding-right: 0.5em;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
  } 

  @-webkit-keyframes fadeinout {
    0%{opacity: 0.4;}
    100%{opacity:1;}
  }
  
  @keyframes fadeinout {
    0%{opacity: 0.4;}
    100%{opacity:1;}
  }

  /* Fading animation */
  .fade {
    /* animation-name: fade;
    animation-duration: 5s; */
    -webkit-animation: fadeinout 5s ;
    animation: fadeinout 5s;
    
  }
  #news{
    /* background-color:#3f51b5; */
    background-color: #7986cb;
    display: inline-block;
    z-index: 2;
    margin-left: 1%;
    /* padding: 2em 2em 2em 2em; */
    /* border-radius: 20px 0px 0px 20px;; */
  }

  #news {

    margin-left: 1%;
    padding: 0%;
    padding-bottom: 0%;
    padding-top:0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width:10%;
    max-width:10%;
  }

  #news>div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
  }

  
  .latest{
    justify-content: center;
    display: flex;
    color: white;
    margin-bottom: 1em;
    /* margin-top:1em; */
  }
  /* @keyframes fade {
    0% {opacity: 0.5}
    100% {opacity: 1}
  } */

@media (max-width:450px){
    #news{
        min-width:30%;
        max-width:30%;
    }
}

@media (min-width : 450px) and (max-width:900px){
    #news{
        min-width:20%;
        max-width:20%;
    }
}
