/* Slideshow container */
.slideshow-container {
    position: relative;
}
  
  

  /* Hide the images by default */
  .mySlides {
    display: none;
    padding-left: 2em !important;
    padding-top: 0em !important;
    padding-bottom: 0 !important;
    padding-right: 0.5em;
  
  }

  @-webkit-keyframes fadeinout {
    0%{opacity: 0;}
    100%{opacity:1;}
  }
  
  @keyframes fadeinout {
    0%{opacity: 0;}
    100%{opacity:1;}
  }

  /* Fading animation */
  .fade {
    /* animation-name: fade;
    animation-duration: 5s; */
    -webkit-animation: fadeinout 5s ;
    animation: fadeinout 5s;
    
  }
  .links{
    color: red;
    text-decoration: none;
  }
  .links:hover{
    color: blue;
  }

  #news {
    margin-left: 0% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
    background-color: #473dc4 !important;
    font-weight: 750 !important;
    padding: 7px 0px;
}

  
  .latest {
    justify-content: left !important;
    display: flex;
    color: white;
    margin-bottom: 1em;
    margin-top: -11em ;
    background-color: #6e74ddcf;
    align-items: center;
    font-weight: 600;
    font-style: italic;
    font-size: 0.7rem;
    padding: 0px;
  }
  /* @keyframes fade {
    0% {opacity: 0.5}
    100% {opacity: 1}
  } */

/* @media (max-width:450px){
    #news{
        min-width:30%;
        max-width:30%;
    }
}

@media (min-width : 450px) and (max-width:900px){
    #news{
        min-width:20%;
        max-width:20%;
    }
} */
