*{
margin: 0 ;
padding: 0;
box-sizing: border-box;
/* background-image: url("bg.jpg"); */
background-color: #ffffff;           /*        */ 
color: rgb(0, 0, 0);                       /*        */                              
}

body {
padding: 0 !important;
margin: 0 !important;

}
/* img{
    border-radius: 50%;
} */
.d-block{
    width:100%;
    height:100%;
}
.navbar-brand{
    margin-left: 1%;
    color: rgb(236, 236, 236);
}
.navbar{
    background-color: rgb(255, 251, 251);
    color: azure;
}

ul.navbar-nav{                                     /* */
    margin: 0rem 0rem 0rem 15rem;
}
.bg-black {
    background-color: #d11010;
}

.heading{
    text-align: center;
}
/* #logo {
    width: 50px;
    height: 50px;
    border-radius: 4px;
} */

.navbar-brand {
    padding: 0.1% 0.1%;
    font-size: 16px;
}
.About-Event{
    margin: 50px ;
    /* background-color: rgba(134, 117, 117, 0.453); */
    /* background-image: url("bg.jpg"); */
}
.About-Event>.heading{
    margin: 0 0 2% 0;
    font-size: 2rem;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    text-align: center;
}

li.nav-item{
    margin: 0rem 1.5rem 0rem 1.5rem;
}
.nav-link {
    padding-bottom: 10px; 
    background-color: rgb(80 80 203 / 71%);
    border-radius: 8px;
    color: antiquewhite !important;
}


.v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: center;
    }

    .v-line {
        display: none;
    }
    .navbar-nav{
        align-items: left;
    }


}


.about{

    display: flex;

    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap:1%;
}

@media(max-width:1000px)
{
    .about{
        flex-wrap: wrap;
    }


}


.link-list{

list-style-type: square;

}

/* .center{


    display: flex;
    justify-content: center;
    align-items: center;
} */

.row-new{

display: flex;
justify-content: space-evenly;
align-items: center;

}

.defined{
    gap: 0 !important;;
    padding: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

@media (max-width:800px) {
    .poster
    {
        width: 90%;
    }
}
nav.navbar.navbar-expand-lg {
    opacity: 100%;
    z-index: 3;
    background-color: none;
}

.carousel-inner {
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    opacity: 100%;
    border: 5px solid #3d3070;
}

#carouselExampleCaptions {
    padding: 4rem 17rem 5rem 17rem;
    background-color: rgb(207, 203, 236);
}
header{
    display: block;
    position: sticky !important;
    z-index: 1000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
  padding-top: 102px;
}
